{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block HeaderTitle %}Dashboard{% endblock %}
{% set FormTitle =  ''%}
{% set description = ' ' %}

{% block body %}
 <div class="am-pagebody">
    <div class="row row-sm">
        <div class="col-xl-6">
            <div class="card pd-20 pd-sm-40">
                <h6 class="card-body-title">Mobil dan motor berdasarkan Manufaktur</h6>
                <canvas id="chartBar3" height="300"></canvas>
            </div><!-- card -->
        </div><!-- col-6 -->
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    <script src="/content/lib/chart.js/Chart.js"></script>
    <script src="/src/Scripts/Dashboard/dashboard.js"></script>
 
{% endblock %}
