{% extends 'base.html.twig' %}

{% block title %}New AttachmentAssetKendaraanMotor{% endblock %}

{% block body %}
    <h1>Create new AttachmentAssetKendaraanMotor</h1>

    {{ include('attachment_asset_kendaraan_motor/_form.html.twig') }}

    <a href="{{ path('attachment_asset_kendaraan_motor_index') }}">back to list</a>
{% endblock %}
