<form method="post" action="{{ path('asset_tanah_pribadi_delete', {'id': asset_tanah_pribadi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asset_tanah_pribadi.id) }}">
    <button class="btn">Delete</button>
</form>
